@charset "utf-8";

body {
    background: #fbf9cc url(../2021-11-08~/img/bg.png) repeat-x;
}

.white-container {
    background-color: #fff;
    padding: 40px 80px;
    margin: 40px auto;
    width: 960px;
}

.white-container>section {
    margin-top: 80px;
}

.radius-container-title {
    width: 300px;
    margin: 40px auto;
    padding: 30px;
    border: 5px solid #95dbbd;
    background-color: #6fbb9a;
    color: #fff;
    font-size: 300%;
    text-align: center;
    line-height: 1;
    border-radius: 50%;
    text-shadow: 1px 1px 5px #000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.main-heading {
    padding: 10px;
    border: 1px dotted #94c8b1;
    border-left: 10px solid #d0e35b;
    color: #6fbb9a;
    border-radius: 10px;
}

.sub-heading {
    padding: 10px;
    background-color: #fbf9cc;
    border-color: ;
    border-radius: 10px;
    color: #ff705b;
    box-shadow: 0 0 5px 2px #ffd0ad inset;
    transition: background-color 0s, transform 1s;
}

.sub-heading:hover {
    background-color: #ffd0ad;
    transform: scale(0.9, 0.9);
}

.sub-heading span {
    font-weight: normal;
}

.box-nav {
    display: block;
}

.box-nav li {
    list-style-type: none;
    display: inline-block;
    width: 180px;
    margin: 0 10px;
}

.box-nav a {
    display: block;
    padding: 10px;
    background-color: #6fbb9a;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.box-nav a:hover {
    background-color: #90ddbb;
    color: #fff;
}

a {
    color: #df4839;
}

a:hover {
    text-decoration: none;
    color: #ff705b;
}

header,
nav,
footer {
    text-align: center;
}

.float-left {
    float: left;
    margin-right: 20px;
}

.float-right {
    float: right;
    margin-left: 20px;
}

.float-clear {
    clear: both;
}

.more {
    text-align: right;
}

.more::after {
    content: url(../2021-11-08~/img/ico_arrow.png);
    margin-left: 3px;
    vertical-align: middle;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.radius-img {
    border-radius: 100%;
    transition: 1s transform ease-out 0.5s;
}

.radius-img:hover {
    transform: translate(700px, 0);
}

.rotate-img {
    transition: transform 1s;
}

.rotate-img:hover {
    transform: rotate(-10deg);
}

.skew-img {
    transform: skew(-10deg, -10deg);
}

.box-nav li:nth-child(2):hover {
    transition: 1s;
}

.box-nav li:nth-child(2):hover {
    transform-origin: 50% 50%;
    transform: scale(2, 1);
}
