.main-container {
    padding: 100px;
    margin: 100px auto;
}

.animation-box {
    background-color: aquamarine;
    padding: 20px;
    color: beige;
    font-weight: 600;
    width: fit-content;
    box-shadow: 0 4px 10px aquamarine;
    border-radius: 10px;
    text-align: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    ,
    100% {
        opacity: 1;
    }
}

.fadeIn01 {
    animation: fadeIn 1s ease 0.1s;
}

.fadeIn02 {
    animation: fadeIn 1s ease 2s infinite;
}
