.header-container {
    background-color: brown;
    color: antiquewhite;
    padding: 20px;
    font-size: large;
}

.footer-container {
    background-color: chocolate;
    color: azure;
    height: auto;
    padding: 20px;
    font-size: large;
    clear: both;

}

main {
    overflow: hidden;
}

.float-container {
    margin: 20px;
    padding: 20px;
    width: 1000px;
    height: 800px;
    background-color: bisque;
}

.box li {
    color: burlywood;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    list-style: none;
}

.box li:not(:nth-child(4)) {
    margin-right: 0px;
}
