.header-container {
    background-color: brown;
    color: antiquewhite;
    padding: 20px;
    font-size: large;
}

.footer-container {
    background-color: chocolate;
    color: azure;
    height: auto;
    padding: 20px;
    font-size: large;
    clear: both;
}

.float-container {
    margin: 20px;
    padding: 20px;
    width: 1000px;
    height: auto;
    background-color: bisque;
    /* overflow: hidden; */
}

.box li {
    color: burlywood;
    float: left;
    margin-bottom: 20px;
    list-style: none;
}

.box li:not(:nth-child(4n)) {
    margin-right: 20px;
}

.box::after {
    content: "";
    clear: both;
}

.clearfix {
    display: block;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.clearfix::before {
    content: "";
    display: block;
    clear: both;
}
