.header-container {
    background-color: brown;
    color: antiquewhite;
    padding: 20px;
    font-size: large;
}

.footer-container {
    background-color: chocolate;
    color: azure;
    padding: 20px;
    font-size: large;
    clear: both;
}

.float-container {
    padding: 20px;
}

.box li {
    color: burlywood;
    padding: 20px;
    float: left;
}

.box-body {
    background-color: beige;
    width: 225px;
    height: 160px;
    list-style: none;
}
