/* flexbox1 */

.flex {
    display: flex;
    width: 900px;
}

.flexbox {
    list-style: none;
    border: solid 1px beige;
    background-color: blanchedalmond;
    padding: 20px;
    color: brown;
}

.jst-sb>.flex {
    justify-content: space-between;
}

.jst-st>.flex {
    justify-content: start;
}

.jst-en>.flex {
    justify-content: end;
}

.al-st>.flex {
    align-items: stretch;
}

.al-fs>.flex {
    align-items: flex-start;
}

.al-en>.flex {
    align-items: flex-end;
}

.al-ce>.flex {
    align-items: flex-end;
}

.al-ba>.flex {
    align-items: baseline;
}

.fl-wrap>.flex {
    flex-wrap: wrap;
}

.fl-nowrap>.flex {
    flex-wrap: nowrap;
}

.fl-wrap-re>.flex {
    flex-wrap: wrap-reverse;
}

.alc-st>.flex {
    flex-wrap: wrap;
    height: 300px;
    align-content: stretch;

}

.alc-en>.flex {
    flex-wrap: wrap;
    height: 300px;
    align-content: flex-end;
}

.alc-bt>.flex {
    flex-wrap: wrap;
    height: 300px;
    align-content: space-between;
}

/* flexbox2 */

.als-row>.flex {
    flex-direction: row;
}

.als-row-rv>.flex {
    flex-direction: row-reverse;
}

.als-col>.flex {
    flex-direction: column;
}

.als-col-rv>.flex {
    flex-direction: column-reverse;
}

.al-slf>.flex li:nth-child(1) {
    align-self: stretch;
}

.al-slf>.flex li:nth-child(2) {
    align-self: flex-start;
}

.al-slf>.flex li:nth-child(3) {
    align-self: flex-end;
}

.al-slf>.flex li:nth-child(4) {
    align-self: center;
}

.al-slf>.flex li:nth-child(5) {
    align-self: baseline;
}

.order>.flex li:nth-child(1) {
    order: 1;
}

.order>.flex li:nth-child(3) {
    order: 2;
}

.fl-grw>.flex li:nth-child(2) {
    flex-grow: 1;
}

.fl-shrink>.flex li {
    flex-grow: 1;

}

.fl-shrink>.flex li {
    width: 350px;
}

.fl-shrink>.flex li:nth-child(1) {
    background-color: burlywood;
    flex-shrink: 0;
}
